<uib-accordion>
    <div uib-accordion-group class="panel-default" has-authority="ROLE_ADMIN">
      <uib-accordion-heading>
            <a href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-dashboard"></span>
                            <span class="hidden-sm">
                               DASHBORD
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      This is just some content to illustrate fancy headings.
    </div>
        <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading>
       <a href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-credit-card"></span>
                            <span class="hidden-sm">
                                CAISSE
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
       <ul class="list-group">
                <li class="list-group-item"><a ui-sref="caisse" class="active">
                <span class="glyphicon glyphicon-home"></span>Comptoir</a></li>
                <li class="list-group-item"><a href="form.html">
                <span class="glyphicon glyphicon-bell"></span>Mes Ventes</a></li>
                <li class="list-group-item"><a href="form_advanced.html">Ventes</a></li>
                <li class="list-group-item"><a href="form_validation.html">Stock</a></li>
              </ul>
    </div>
    <div uib-accordion-group class="panel-default" has-authority="ROLE_ADMIN">
      <uib-accordion-heading>
        <a href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <ul class="list-inline">
                        <li ui-sref-active="active">
                                <a ui-sref="medicament" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.medicament">Medicament</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="famille-medicament" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.familleMedicament">Famille Medicament</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="ligne-vente" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.ligneVente">Ligne Vente</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="fournisseur" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.fournisseur">Fournisseur</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="stock" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.stock">Stock</span>
                                </a>
                            </li>
                          <li ui-sref-active="active">
                                <a ui-sref="client" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.client">Client</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="vente" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.vente">Vente</span>
                                </a>
                            </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
    </div>
  </uib-accordion>