<div>
    <h2 data-translate="pharmaApp.client.home.title">Clients</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="client.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="pharmaApp.client.home.createLabel">
                        Create new Client
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nomComplet"><span data-translate="pharmaApp.client.nomComplet">Nom Complet</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="adresse"><span data-translate="pharmaApp.client.adresse">Adresse</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="civilite"><span data-translate="pharmaApp.client.civilite">Civilite</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="client in vm.clients track by client.id">
                    <td><a ui-sref="client-detail({id:client.id})">{{client.id}}</a></td>
                    <td>{{client.nomComplet}}</td>
                    <td>{{client.adresse}}</td>
                    <td>{{client.civilite}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="client-detail({id:client.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="client.edit({id:client.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="client.delete({id:client.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
