<form name="qteForm" ng-submit="vm.confirmQte(vm.client.id,qte)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" data-translate="entity.action.titre">entrer la quantité </h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
       <div class="form-group">
                    <label for="password1">Quantite</label>
                    <input type="text" class="form-control" id="password1" ng-model="qte">
                </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="qteForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-save"></span>&nbsp;<span>Valider</span>
        </button>
    </div>
</form>
