<div class="row well">
   <!--  <div class="btn-group" uib-dropdown>
        <button type="button" class="btn btn-danger dropdown pointer" uib-dropdown-toggle>Caisse</button>
        <ul class="dropdown-menu" uib-dropdown-menu>
            <li><a href="#">Nouvelle Vente </a></li>
            <li><a href="#">cloturer vente </a></li>
        </ul> --> 
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="caisse.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  >
                        Create new Client
                    </span>
                </button>
            </div>
        </div>
        <div class="form-group">
         <div class="input-group">
            <ui-select allow-clear ng-model="ctrl.person.selected" theme="bootstrap">
              <ui-select-match placeholder="Select or search a client in the list...">{{$select.selected.nomComplet}}</ui-select-match>
              <ui-select-choices repeat="item in vm.clients | filter: $select.search">
                <span ng-bind-html="item.nomComplet| highlight: $select.search">{{item.nomComplet }}</span>
                
              </ui-select-choices>
            </ui-select>
               <span class="input-group-btn">
              <button type="button"  ui-sref="caisse.client" class="btn btn-default" uib-tooltip="new client" >
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </span>
          </div>
</div>
</div>
 <div class="row">
<!--    <div class="panel panel-primary">
        <div class="panel-body">
            <form class="form-inline" role="form" ng-submit="addLine()">
                <div class="form-group">
                    <label class="control-label">Language</label>
                    <div class="selectContainer">
                         <select name="medicament" class="form-control" ng-model="codeMed">
                         <option value=""></option>
                <option ng-repeat="medicament in vm.medicaments">{{medicament.code}}</option>
                        </select> 
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Prix</label>
                    <input type="text" class="form-control" id="password" ng-model="prix">{{prix}}
                </div>
                <div class="form-group">
                    <label for="password1">Quantite</label>
                    <input type="text" class="form-control" id="password1" ng-model="qte">
                </div>
                <button type="Submit" class="btn btn-default">Submit</button>
            </form>
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id">Medicament <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nomComplet">Prix unitaire<span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="adresse">Quantite <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="civilite">Total <span class="glyphicon glyphicon-sort"></span></th>
                    
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="client in lines">
                    <td>{{client.codeMedi}}</td>
                    <td>{{client.prix}}</td>
                    <td>{{client.quantite}}</td>
                    <td>{{client.prixTotal}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="libelle"><span>Libelle</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prix"><span>Prix</span> <span class="glyphicon glyphicon-sort"></span></th>
            
                    <th jh-sort-by="code"><span>Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="medicament in vm.medicaments track by medicament.id">
                    <td><a ui-sref="medicament-detail({id:medicament.id})">{{medicament.id}}</a></td>
                    <td>{{medicament.libelle}}</td>
                    <td>{{medicament.prix}}</td>
                
                    <td>{{medicament.code}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="button"
                                    ui-sref="caisse.edit({id:medicament.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-map-marker"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.addPanier"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->
    <div class="col-lg-6">
   <!--  <form editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()"> -->
    <table class="table table-bordered table-hover table-condensed">
      <tr style="font-weight: bold">
        <td style="width:40%">Medicament</td>
       <!--  <td style="width:30%">Prix</td> -->
        <td style="width:30%">Quantite</td>
       <!--  <td style="width:30%">Total</td> -->
        <td style="width:30%"><span ng-show="tableform.$visible">Action</span></td>
      </tr>
      <tr ng-repeat="user in lines | filter:filterUser">
      <td>

    <span editable-ui-select="user.medicament" data-e-ng-model="state" data-e-style="min-width:100px;" e-form="tableform">
      {{user.medicament.libelle}}
      <editable-ui-select-match placeholder="State">
        {{$select.selected.libelle}}
      </editable-ui-select-match>
      <editable-ui-select-choices repeat="state in vm.medicaments | filter: $select.search track by $index">
        <div ng-bind-html="state.libelle">{{state.libelle}}</div>
      <small>
        prix: {{state.prix}}
      </small>
      </editable-ui-select-choices>
    </span>
        </td>
        <!-- <td>
          <span editable-text="user.prix " e-form="tableform" edit-disabled="true">
            {{user.medicament.prix}}
          </span>
        </td> -->
        <td>
          <span editable-text="user.quantite" e-form="tableform" onbeforesave="checkName($data, user.id)" e-required>
            {{ user.quantite}}
          </span>
        </td>
<!--            <td>
          
          <span editable-text="user.prixTotal" e-form="tableform">
            ({{user.medicament.prix}})*({{user.quantite}})
          </span>
        </td> -->
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="tableform" onaftersave="saveUser($data, user.idL)" ng-show="tableform.$visible" class="form-buttons form-inline" shown="inserted == user">
          <button type="submit" ng-disabled="tableform$waiting" class="btn btn-primary">
           <span class="glyphicon glyphicon-plus"></span>
          </button>
          <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">
           <span class="glyphicon glyphicon-move"></span>
          </button>
        </form>
        <div class="buttons" ng-show="!tableform.$visible">
          <button type="button" class="btn btn-primary" ng-click="tableform.$show()">edit</button>
          <button type="button" class="btn btn-danger" ng-click="removeUser($index)">del</button>
        </div>  
      </td>
      </tr>
    </table><button type="button" class="btn btn-default" ng-click="addUser()">Add row</button>
<!-- 
    <div class="btn-edit">
      <button type="button" class="btn btn-default" ng-show="!tableform.$visible" ng-click="tableform.$show()">
        new Vente
      </button>
    </div>
    <div class="btn-form" ng-show="tableform.$visible">
      <button type="button" ng-disabled="tableform.$waiting" ng-click="addUser()" class="btn btn-default pull-right">add row</button>
      <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary">save</button>
      <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">cancel</button>
    </div> 
    
  </form>--> 
  </div>
  <div class="col-lg-6 bg-info">
     <ul class="list-group" >
  <li ng-repeat=" user in lines" class="list-group-item">
    <pre> Medicament:<span class="badge badge-info">{{ user.medicament.libelle }}</span>Prix:<span class="badge bg-danger">{{ user.medicament.prix }}</span> Quantite:<span class="badge bg-danger">{{ user.quantite}}</span> Prix Total:<span class="badge bg-danger">{{ user.quantite}}*{{ user.medicament.prix }}</span>
      </pre>
    </li>
</ul> 
<button type="button" class="btn btn-primary" ng-click="saveTable()">save</button><button type="button" class="btn btn-danger" ng-click="cancel()">cancel</button>
  </div>
</div>
